@model WebStore.ViewModels.ShoppingWishListViewModel
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLinkWL").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-idWL");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingWishList/RemoveFromWishList", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#rowWL-' + data.DeleteId).fadeOut('fast');
                        } else {
                            $('#item-countWL-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#wishList-total').text(data.WishListTotal);
                        $('#update-messageWL').text(data.Message);
                        $('#wishList-status').text('WishList (' + data.WishListCount + ')');
                    });
            }
        });
    });
    function handleUpdate() {
        // Load and deserialize the returned JSON data
        var json = context.get_data();
        var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);

        // Update the page elements
        if (data.ItemCount == 0) {
            $('#rowWL-' + data.DeleteId).fadeOut('fast');
        } 
        $('#wishList-total').text(data.CartTotal);
        $('#update-messageWL').text(data.Message);
        $('#wishList-status').text('WishList (' + data.CartCount + ')');
    }
</script>

<br/>
<h3>
    <em>Wishlist</em> content:
 </h3>

<div id="update-messageWL">
</div>
<table>
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Price 
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model.WishListItems)
    {
        <tr id="rowWL-@item.RecordId">
            <td>
                @Html.ActionLink(item.Item.Title,"Details", "Store", new { id = item.ItemId }, null)
            </td>
            <td>
                @item.Item.Price
            </td>
            <td>
                <a href="#" class="RemoveLinkWL" data-idWL="@item.RecordId">Remove from wish list</a>
            </td>
            <td>
                @Html.ActionLink("Move to cart","MoveToCart", "ShoppingWishList", new { id = item.ItemId }, null)
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
        </td>
        <td>
        </td>
        <td id="wishList-total">
            @Model.WishListTotal
        </td>
    </tr>
</table>